name: CI/CD Blue-Green

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r blue-green-demo-app/app/requirements.txt

      - name: Run tests
        run: |
          python -m unittest discover blue-green-demo-app/app

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image (blue)
        run: |
          docker build -t sokilnatalka/ucu_test_kub:blue blue-green-demo-app
          docker push sokilnatalka/ucu_test_kub:blue

      - name: Build and push Docker image (green)
        run: |
          docker build -t sokilnatalka/ucu_test_kub:green blue-green-demo-app
          docker push sokilnatalka/ucu_test_kub:green

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure kubectl
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --name kubernetes_test

      - name: Deploy Blue Deployment
        run: |
          kubectl apply -f blue-green-demo-app/k8s/deployment-blue.yaml
          kubectl apply -f blue-green-demo-app/k8s/service.yaml

      - name: Deploy Green Deployment
        run: |
          kubectl apply -f blue-green-demo-app/k8s/deployment-green.yaml
